{% extends "base.html" %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
                <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
                    <div class="row g-3 my-3">
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="Link" aria-label="Link" name="add_link">
                        </div>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" name="add_quantity">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-outline-primary">Add</button>
                        </div>
                      </div>
                </form>
            <table class="table table-sm table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col" class="col-sm-1">Id</th>
                        <th scope="col" class="col-sm-7">Link</th>
                        <th scope="col" class="col-sm-1">Task</th>
                        <th scope="col" class="col-sm-4">Control</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    {% set id = task['id'] %}
                    {% set link = task['link'] %}
                    {% set targ_like = task['targ_like'] %}
                    {% set done_like = task['done_like'] %}
                        <tr>
                            <th scope="row">{{ id }}</th>
                            <td><a href="{{ link }}">{{ link }}</a></td>
                            <td>{{ done_like }} / {{ targ_like }}</td>
                            <td>
                                <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
                                    <div class="input-group my-1 input-group-sm">
                                        <input type="text" class="form-control" placeholder="Quantity" aria-describedby="button-addon2" name="add:{{ id }}">
                                        <button class="btn btn-outline-primary btn-sm" type="submit" id="button-addon2">Add</button>
                                        <button class="btn btn-outline-danger btn-sm" value="{{ id }}" type="submit" name="rm">Del</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush my-3">
                <li class="list-group-item">Total accounts - {{ total_accounts }}</li>
                <li class="list-group-item">Target accounts - {{ target_accounts }}</li>
                <li class="list-group-item">In work now - {{ in_work_accs }}</li>
                <li class="list-group-item">
                    <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
                        <div class="input-group mb-3 input-group-sm">
                            <input type="text" class="form-control" placeholder="New target" aria-describedby="button-addon2" name="acc_target">
                            <button class="btn btn-outline-primary btn-sm" type="submit" id="button-addon2">Set</button>
                        </div>
                    </form>
                </li>
              </ul>
        </div>
    </div>
</div>
{% endblock %}